<html>
<head>
    <title>Test</title>
</head>
<body>
<style>
    .card-grid {
        margin-left: 250px;
        display: inline-block;
    }
</style>
<div id="board" ondrop="drop(event)" ondragover="allowDrop(event)">
</div>
{% for card in cards %}

        <div class="card-grid" draggable="true"
             ondragstart="drag(event)">
            {#<div class="front">#}
            {#<img src="{{ back }}"/>#}
            {#</div>#}
            <div class="back">
                <img src="{{ card }}"/>
            </div>
        </div>
{% endfor %}

{% block js %}
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.rawgit.com/nnattawat/flip/v1.0.16/dist/jquery.flip.min.js"></script>
    {#<script>#}
    {#$(".card-grid").flip({reverse: true});#}
    {#</script>#}
    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
{% endblock %}
</body>
</html>