<html>
<head>
    <title>Resultat de la recherche</title>
</head>
<body>
<div class="container">
    {% if data is defined and data is iterable %}
        <table>
            <thead>
            <tr>
                <th>Preview</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for card in data %}
                <tr>
                    <td><img src="{{ card.img }}"/></td>
                    <td>
                        <dl>
                            <dt>Name</dt><dd>{{card.name}}</dd>
                            <dt>Type</dt><dd>{{card.type}}</dd>
                            <dt>Cost</dt><dd>{{card.cost}}</dd>
                            <dt>Attack</dt><dd>{{card.attack}}</dd>
                            <dt>Health</dt><dd>{{card.health}}</dd>
                            <dt>Text</dt><dd>{{card.text|raw}}</dd>
                            <dt>Flavor</dt><dd>{{card.flavor|raw}}</dd>
                            <dt>MinionType</dt><dd>{{card.minionType}}</dd>
                            <dt>Rarity</dt><dd>{{card.rarity}}</dd>
                            <dt>Class</dt><dd>{{card.class}}</dd>
                            <dt>Set</dt><dd>{{card.set}}</dd>
                        </dl>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
</body>
</html>