<html>
<head>
    <title>Hearthstone Playtester</title>
    {% stylesheets 'bundles/azohsplaytester/css/playtest_*' filter='cssrewrite' %}
     <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}</head>
<body>
<div id="board">
    Plateau
</div>
<div id="hand">
    Main
</div>
</body>
</html>