body{
    background-color: black;
}

#board {
    width:100%;
    height:75%;
    background: #d9be91 url("https://static.elie.net/static/hearthstone3d/assets/bg1.jpg") 50% 0 repeat;
    margin: 0;
    color: white;
    overflow: hidden;
}

#hand {
    width:100%;
    height:25%;
    background-color: green;
}