body {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5em
}

#head h1 {
    font-weight: normal
}

#head a {
    color: #c8b472;
    text-decoration: none
}

.underline {
    text-decoration: underline
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: transparent url("bg.jpg") 50% 0 repeat-y;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 0;
    -webkit-user-select: none
}

#stage {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    top: 0;
    z-index: 0
}

#head, .zone, .modal_window {
    background: rgba(40,40,0,0.4) ;
}

#head {
    border-bottom: 1px dashed rgba(40, 40, 0, 0.5);
    height: 30px;
    position: absolute;
    width: 100%;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 100px);
    transform: translate3d(0, 0, 100px)
}

#head h1 {
    float: left;
    font-style: italic;
    font-size: 16px;
    line-height: 30px;
    margin-left: 10px;
    margin-top: 0;
}

.loading #head h1 {
    visibility: hidden
}

#head #deck_name:hover, #head #author:hover {
    color: #fff
}

#head #head_nav {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    position: relative
}

#head #head_nav li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative
}

#head #head_nav li.visible > a {
    color: #fff
}

#head #head_nav li > a {
    cursor: default;
    display: block;
    height: 30px;
    padding: 0px 7px 0 7px
}

#head #turns {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-right: 40px
}

#head .health_field_wrapper {
    float: right;
    height: 30px;
    margin-right: 10px;
    padding-top: 0px;
    position: relative;
    width: 100px
}

#head .health_field_wrapper select, #head .health_field_wrapper .super_select_button {
    position: absolute;
    right: 0;
    top: 5px;
    width: 80px
}

#head #life {
    width: 80px
}

.zone_nav {
    margin: 0;
    padding: 0;
    position: absolute
}

.zone_nav > li {
    float: right;
    display: inline;
    list-style: none;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative
}

#battlefield_nav {
    left: 150px;
    right: 10px;
    top: 36px
}

#battlefield_nav a {
    float: left
}

.right {
    display: right;
}

.clear {
    clear: both
}

#restore_defaults {
    line-height: 30px;
    margin: 5px
}

.submenu_button {
    cursor: pointer
}

.submenu_button:hover {
    background: none
}

.submenu_button.hover {
    background: #9f632a
}

.visible .submenu {
    display: block
}

.submenu {
    background: url("bg.jpg") no-repeat;
    color: #c8b472;
    display: none;
    cursor: default;
    height: 420px;
    left: -10px;
    line-height: 1.1em;
    padding: 8px 12px 12px 8px;
    position: absolute;
    top: 22px;
    width: 320px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.submenu * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.submenu > * {
    padding: 5px
}

.submenu .margin {
    height: auto;
    padding: 5px 0;
    margin: 0 5px;
    position: relative
}

.submenu p {
    margin: 0;
    padding: 5px
}

.submenu label {
    display: block;
    padding: 5px;
    width: 100%
}

a.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    color: #c8b472;
    cursor: default;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block
}

a.button:not(.disabled):hover, a.button:not(.disabled).hover {
    background: url(/images/buttons.png) repeat-x 0 0;
    background-color: #9d7c41;
    border-color: #775826;
    border-top-color: #b18339;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    color: #ddb168;
    background-position: 0 -50px
}

a.button:not(.disabled):active {
    background-color: #ba9657;
    border-color: #d59c40;
    border-top-color: #deb26a;
    color: #f8e5c1;
    background-position: 0 -100px
}

a.button.disabled {
    opacity: 0.8
}

a.button.no_rounded_right {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -ms-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px
}

a.button.no_rounded_left {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px
}

a.button.solid {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    background: #693e1b;
    border: 1px solid #43331a;
    border-top-color: #7a5d2f;
    color: #c8b472;
    cursor: default;
    font-weight: bold;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
    background: url(/images/buttons.png) repeat-x 0 0
}

a.button.solid:not(.disabled):hover, a.button.solid:not(.disabled).hover {
    background-color: #9d7c41;
    border-color: #775826;
    border-top-color: #b18339;
    color: #ddb168;
    background-position: 0 -50px
}

a.button.solid:not(.disabled):active {
    background-color: #ba9657;
    border-color: #d59c40;
    border-top-color: #deb26a;
    color: #f8e5c1;
    background-position: 0 -100px
}

a.button.solid.disabled {
    cursor: default;
    opacity: 0.3
}

a.button.solid.no_rounded_right {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -ms-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px
}

a.button.solid.no_rounded_left {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px
}

.guide {
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
    width: 1px;
    position: absolute
}

.guide.guide_horizontal {
    width: 100%
}

.guide.guide_vertical {
    height: 100%
}

#foot {
    position: absolute;
    bottom: 0;
    height: 30px;
    left: 10px;
    right: 10px
}

#foot a {
    float: left;
    font-size: 12px;
    padding: 3px
}

#foot .right {
    height: 30px;
    position: absolute;
    right: 0;
    width: 130px
}

#foot .right .button {
    float: right
}

@media all and (max-width: 1015px) {
    #foot {
        height: 60px
    }

    div#draw_card_by_name {
        clear: left;
        margin-left: 0
    }

    select#draw_card_by_name_field {
        width: 120px
    }

    div#stage {
        bottom: 60px
    }
}

@media all and (max-width: 915px) {
    .has_commander #foot {
        height: 60px
    }

    .has_commander div#draw_card_by_name {
        clear: left;
        margin-left: 0
    }

    .has_commander select#draw_card_by_name_field {
        width: 120px
    }

    .has_commander div#stage {
        bottom: 60px
    }
}

a.value_button {
    width: 25px
}

.button_spacer {
    margin-left: 10px
}

#add_token {
    height: 30px;
    float: left;
    position: relative;
    width: 195px
}

#add_token a {
    position: absolute;
    right: 0;
    top: 0
}

#add_token_field {
    left: 0;
    top: 0;
    position: absolute;
    width: 120px
}

#draw_card_by_name {
    float: left;
    height: 30px;
    margin-left: 10px
}

#draw_card_by_name_field {
    float: left;
    width: 95px;
    margin-left: 0
}

#draw_card_button {
    margin-left: 5px
}

#toggle_hand_visibility_link {
    width: 70px
}

.zone {
    border: 1px dashed #9d7c41;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    position: absolute;
    border-color: #44322b
}

.zone select {
    cursor: default;
    height: 26px;
    line-height: 30px;
    font-size: 18px;
    position: absolute;
    top: -5px;
    right: -3px;
    opacity: 0;
    width: 32px
}

.zone select option {
    font-size: 13px
}

.zone .view {
    padding: 2px 5px
}

.zone.empty select, .zone.empty .view {
    display: none;
    visibility: hidden
}

#battlefield {
    background-image: none;
    left: 10px;
    right: 10px;
    z-index: 1
}

#battlefield {
    top: 60px
}

#battlefield .token {
    position: absolute
}

#hand {
    bottom: 10px;
    left: 10px
}

#exiled, #graveyard, #library {
    bottom: 10px
}

#exiled .card.visible, #graveyard .card.visible, #library .card.visible {
    display: block
}

#exiled .card, #graveyard .card, #library .card {
    display: none
}

#hand_nav {
    left: 120px
}

.card_size_small #battlefield {
    bottom: 174px
}

.card_size_small #exiled, .card_size_small #graveyard, .card_size_small #library {
    height: 130px;
    width: 96px
}

.card_size_small #exiled {
    right: 10px
}

.card_size_small #graveyard {
    right: 116px
}

.card_size_small #library {
    right: 222px
}

.card_size_small #hand {
    height: 130px;
    right: 328px;
    -webkit-transform-origin: 50% 130px;
    -moz-transform-origin: 50% 130px
}

.card_size_small #hand_nav {
    bottom: 145px;
    right: 328px
}

.card_size_medium #battlefield {
    bottom: 230px
}

.card_size_medium #exiled, .card_size_medium #graveyard, .card_size_medium #library {
    height: 186px;
    width: 136px
}

.card_size_medium #exiled {
    right: 10px
}

.card_size_medium #graveyard {
    right: 156px
}

.card_size_medium #library {
    right: 302px
}

.card_size_medium #hand {
    height: 186px;
    right: 448px;
    -webkit-transform-origin: 50% 186px;
    -moz-transform-origin: 50% 186px
}

.card_size_medium #hand_nav {
    bottom: 145px;
    right: 448px
}

.card_size_large #battlefield {
    bottom: 345px
}

.card_size_large #exiled, .card_size_large #graveyard, .card_size_large #library {
    height: 301px;
    width: 216px
}

.card_size_large #exiled {
    right: 10px
}

.card_size_large #graveyard {
    right: 236px
}

.card_size_large #library {
    right: 462px
}

.card_size_large #hand {
    height: 301px;
    right: 688px;
    -webkit-transform-origin: 50% 301px;
    -moz-transform-origin: 50% 301px
}

.card_size_large #hand_nav {
    bottom: 145px;
    right: 448px
}

.zone .super_select_button, .zone select {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -27px
}

.zone .super_select_button strong, .zone select strong {
    font-style: normal
}

#hand .super_select_button, #battlefield .super_select_button, #hand select, #battlefield select {
    text-align: left;
    padding-left: 10px;
    right: auto;
    width: 100px
}

#exiled .super_select_button, #library .super_select_button, #graveyard .super_select_button, #exiled select, #library select, #graveyard select {
    display: block;
    right: 0;
    width: 100%
}

.enable_3d_transforms #stage {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.enable_3d_transforms .card.facedown .card_image {
    display: block
}

.enable_3d_transforms .card .back_rotate {
    display: block
}

.enable_3d_transforms .card {
    -webkit-perspective: 600;
    -moz-perspective: 600;
    -o-perspective: 600;
    -ms-perspective: 600;
    perspective: 600;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.enable_3d_transforms .card_shape {
    -webkit-perspective: 600;
    -moz-perspective: 600;
    -ms-perspective: 600;
    -o-perspective: 600;
    perspective: 600;
    -webkit-transform-origin: 50%;
    -moz-transform-origin: 50%;
    -o-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateY(0deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(0deg) translate3d(0, 0, 0);
    -o-transform: rotateY(0deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(0deg) translate3d(0, 0, 0);
    transform: rotateY(0deg) translate3d(0, 0, 0);
    -moz-transition-property: rotate;
    -webkit-transition-property: rotate;
    -o-transition-property: rotate;
    -ms-transition-property: rotate;
    transition-property: rotate;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -moz-transition: -moz-transform 0.3s ease 0s
}

.enable_3d_transforms .face {
    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden
}

.enable_3d_transforms .back_rotate {
    -webkit-transform: rotateY(180deg) translateZ(1px);
    -moz-transform: rotateY(180deg) translateZ(1px);
    -o-transform: rotateY(180deg) translateZ(1px);
    -ms-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px)
}

.enable_3d_transforms .tapped .card_shape {
    -webkit-transform: rotate3d(0, 0, 1, 90deg) translate3d(0, 0, 0);
    -moz-transform: rotate3d(0, 0, 1, 90deg) translate3d(0, 0, 0);
    -o-transform: rotate3d(0, 0, 1, 90deg) translate3d(0, 0, 0);
    -ms-transform: rotate3d(0, 0, 1, 90deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 1, 90deg) translate3d(0, 0, 0)
}

.enable_3d_transforms .flipped .card_shape {
    -webkit-transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0);
    -moz-transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0);
    -o-transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0);
    -ms-transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0)
}

.enable_3d_transforms .flipped.tapped .card_shape {
    -webkit-transform: rotate3d(0, 0, 1, 270deg) translate3d(0, 0, 0);
    -moz-transform: rotate3d(0, 0, 1, 270deg) translate3d(0, 0, 0);
    -o-transform: rotate3d(0, 0, 1, 270deg) translate3d(0, 0, 0);
    -ms-transform: rotate3d(0, 0, 1, 270deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 0, 1, 270deg) translate3d(0, 0, 0)
}

.enable_3d_transforms .facedown .card_shape {
    -webkit-transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0);
    -moz-transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0);
    -o-transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0);
    -ms-transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0);
    transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, 0)
}

.enable_3d_transforms .tapped.facedown .card_shape {
    -webkit-transform: rotateY(180deg) rotateZ(-90deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) rotateZ(-90deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) rotateZ(-90deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) rotateZ(-90deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) rotateZ(-90deg) translate3d(0, 0, 0)
}

.enable_3d_transforms .flipped.facedown .card_shape {
    -webkit-transform: rotateY(180deg) rotateZ(-180deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) rotateZ(-180deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) rotateZ(-180deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) rotateZ(-180deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) rotateZ(-180deg) translate3d(0, 0, 0)
}

.enable_3d_transforms .tapped.flipped.facedown .card_shape {
    -webkit-transform: rotateY(180deg) rotateZ(-270deg) translate3d(0, 0, 0);
    -moz-transform: rotateY(180deg) rotateZ(-270deg) translate3d(0, 0, 0);
    -o-transform: rotateY(180deg) rotateZ(-270deg) translate3d(0, 0, 0);
    -ms-transform: rotateY(180deg) rotateZ(-270deg) translate3d(0, 0, 0);
    transform: rotateY(180deg) rotateZ(-270deg) translate3d(0, 0, 0)
}

.card_size_small .card, .card_size_small .card_shape {
    height: 120px;
    width: 86px
}

.card_size_small .card_back {
    background-size: 80px 114px
}

.card_size_small .card_back, .card_size_small .back_rotate {
    height: 114px;
    width: 80px
}

.card_size_small .notes {
    top: 120px
}

.card_size_small .notes .note {
    font-size: 14px
}

.card_size_medium .card, .card_size_medium .card_shape {
    height: 176px;
    width: 126px
}

.card_size_medium .card_back {
    background-size: 120px 170px
}

.card_size_medium .card_back, .card_size_medium .back_rotate {
    height: 170px;
    width: 120px
}

.card_size_medium .notes {
    top: 176px
}

.card_size_large .card, .card_size_large .card_shape {
    height: 291px;
    width: 206px
}

.card_size_large .card_back {
    background-size: 200px 285px
}

.card_size_large .card_back, .card_size_large .back_rotate {
    height: 285px;
    width: 200px
}

.card_size_large .notes {
    top: 291px
}

.card {
    display: block;
    position: absolute;
    z-index: 2;
    border: 1px solid transparent
}

.card img {
    background: #000
}

.card:hover .face {
    border-color: #fafeb2
}

.zone > .card {
    -moz-transition-property: transform translate rotate left top;
    -webkit-transition-property: transform translate rotate left top;
    -o-transition-property: transform translate rotate left top;
    -ms-transition-property: transform translate rotate left top;
    transition-property: transform translate rotate left top;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease
}

.zone > .card .card_shape {
    -moz-transition-property: transform translate rotate;
    -webkit-transition-property: transform translate rotate;
    -o-transition-property: transform translate rotate;
    -ms-transition-property: transform translate rotate;
    transition-property: transform translate rotate;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    transition-timing-function: ease
}

.loading .card {
    display: none
}

.card.facedown .card_shape {
    background: none
}

.face {
    position: absolute;
    left: 0;
    top: 0;
    border: #000 3px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.temp_image {
    visibility: hidden;
    position: absolute
}

.card_back, .card_image {
    display: block;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0
}

.back_rotate {
    display: block;
    left: 0;
    top: 0;
    transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0
}

.card_shape {
    background: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    z-index: 2
}

.tapped {
    border: 1px dashed #9d7c41;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-color: #44322b
}

.tapped .card_shape {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.notes {
    height: 24px;
    left: 0px;
    right: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 111;
    -webkit-transform: translateZ(0.9px);
    -moz-transform: translateZ(0.9px);
    -ms-transform: translateZ(0.9px);
    -o-transform: translateZ(0.9px);
    transform: translateZ(0.9px)
}

.notes:hover {
    background: rgba(0, 0, 0, 0.7)
}

.notes:hover .note {
    color: #ddb168
}

.notes:active .note {
    color: #f8e5c1
}

#battlefield .faceup.has_notes .notes, #battlefield .transformed.has_notes .notes {
    display: block
}

.notes .note {
    text-shadow: 1px 1px 1px #000, 0 0 1px #000;
    background: none;
    border: 0;
    color: #fff;
    cursor: default;
    display: block;
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    position: absolute;
    color: #c8b472;
    bottom: 0;
    top: 0
}

.notes .note.power_and_toughness {
    right: 3px;
    width: 70%;
    text-align: right
}

.notes .note.counters {
    left: 3px;
    width: 30%;
    text-align: left
}

.card.facedown .card_image {
    display: none
}

.card.facedown .back_rotate {
    display: block
}

.card .back_rotate {
    display: none
}

.flipped .card_shape {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.flipped.tapped .card_shape {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.loading .card {
    display: none !important
}

.modal_window {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #693e1b;
    border-bottom-color: #471c00;
    border-top-color: #9d7c41;
    color: #999;
    font-size: 16px;
    height: 600px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 40px;
    width: 800px;
    z-index: 9999;
    -webkit-transform: translateZ(1000px)
}

.modal_window h4 {
    font-size: 24px;
    font-weight: normal;
    color: #ccc
}

.modal_window .close {
    font-size: 12px;
    position: absolute;
    right: 40px;
    top: 53px
}

.modal_window strong {
    background: rgba(48, 0, 0, 0.5);
    color: #fafeb2
}

#help {
    height: 630px
}

.margin {
    height: 560px;
    padding: 20px 40px;
    position: relative
}

#modal_overlay {
    background: #000;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9998;
    display: none;
    -webkit-transform: translateZ(999px)
}

#modal_overlay.visible {
    display: block
}

#browsers {
    background: #c00;
    border: 2px solid red;
    font-size: 18px !important;
    margin-left: -250px;
    left: 50%;
    padding: 20px;
    position: absolute;
    top: 100px;
    text-align: center;
    z-index: 9999;
    width: 460px
}

#browsers a {
    color: #ff0
}

#browsers a:hover {
    background: #900;
    color: #fff
}

#popup {
    height: 400px;
    margin-left: -300px;
    width: 600px
}

#popup h4 {
    margin: 10px 0 0 10px
}

#popup h6 {
    margin: 0 0 0 10px
}

#popup h5 {
    margin: 0
}

#popup ul {
    margin: 0;
    padding: 0
}

#popup li {
    display: block;
    margin: 0;
    padding: 0
}

#popup #close_popup {
    right: 10px;
    top: 10px;
    z-index: 1
}

#zoomed_card_info {
    bottom: 0;
    left: 40%;
    right: 10px;
    position: absolute;
    top: 40px
}

#zoomed_card_info select, #zoomed_card_info .super_select_button {
    font-size: 18px;
    width: 55%;
    position: absolute;
    top: 20px
}

#zoomed_card_info option {
    padding: 0 5px
}

#zoomed_card_info a.button {
    line-height: 1.8em;
    display: block;
    margin: 10px 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    text-transform: capitalize
}

#card_actions li a.button.facedown, #card_actions li a.button.faceup {
    text-transform: lowercase
}

.field_wrapper {
    float: left;
    width: 33%;
    position: relative
}

.card_info_column {
    float: left;
    margin-right: 5%;
    width: 45%
}

#zoom {
    left: 0;
    width: 220px;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 9997
}

#zoom.visible {
    display: block
}

#zoom_image {
    border: 5px solid #000;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    height: 285px;
    position: absolute;
    width: 200px;
    left: 10px;
    top: 48.5px
}

#remove_plus_counter {
    font-size: 90%;
    letter-spacing: -0.1em
}

#logger {
    display: block;
    color: #9d7c41;
    overflow: auto;
    height: 385px;
    font-family: Helvetica;
    font-size: 11px;
    line-height: 1em;
    margin: 5px;
    width: 290px;
    z-index: 0
}

#logger:hover {
    overflow: auto
}

#logger table {
    width: 100%
}

#logger th {
    text-align: left;
    border-bottom: 1px dashed #693e1b
}

#logger .turn, #logger .move {
    width: 20px
}

#logger .card_action {
    width: 70px
}

#logger .card_zone {
    width: 70px
}

.linked_card {
    color: #fff
}

#logger2 {
    color: #c8b472;
    width: 290px;
    height: 385px;
    position: relative;
    left: 5px;
    top: 5px
}

#logger2 #view_previous_turn, #logger2 #turn_title, #logger2 #view_next_turn {
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 0
}

#logger2 #turn_title {
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center
}

#logger2 #view_previous_turn, #logger2 #view_next_turn {
    display: none;
    padding: 0 10px;
    width: 70px
}

#logger2 #view_previous_turn.visible, #logger2 #view_next_turn.visible {
    display: block
}

#logger2 #view_previous_turn {
    left: 0
}

#logger2 #view_next_turn {
    right: 0;
    text-align: right
}

#logger2 #action_table_wrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    overflow: auto;
    top: 30px
}

#logger2 #action_table {
    width: 100%;
    border-collapse: collapse
}

#logger2 #action_table td {
    padding: 3px 10px;
    vertical-align: top
}

#logger2 #action_table td.action_count {
    width: 30px;
    padding-right: 0
}

#logger2 #action_table td.zone_name {
    text-align: right
}

#stats {
    bottom: 0;
    height: 385px;
    left: 0px;
    right: 0px;
    position: relative;
    width: 300px;
    top: 5px
}

#stats .metric {
    height: 75px;
    position: relative
}

#stats .selected_metric, #stats .selected_metric_zone, #stats .super_select_button {
    left: 30px;
    top: 5px;
    position: absolute;
    width: 110px
}

#stats .hidden {
    display: none
}

#stats .super_select_button {
    text-align: left;
    padding-left: 10px
}

#stats .super_select_button.disabled {
    display: none
}

#stats .second_column {
    left: 160px
}

#stats .selected_metric_value, #stats .in {
    font-weight: bold;
    font-size: 14px;
    left: 5px;
    position: absolute;
    top: 8px;
    width: 30px
}

#stats .in {
    left: 144px;
    font-size: 13px;
    font-weight: normal
}

#stats .graph_area_shadow, #stats .graph_area {
    height: 40px;
    left: 5px;
    position: absolute;
    width: 280px;
    top: 30px
}

#stats .graph_area_shadow {
    -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    height: 41px;
    top: 29px;
    pointer-events: none
}

#stats .graph_area {
    background: rgba(0, 0, 0, 0.3);
    display: table;
    overflow: hidden;
    -webkit-box-shadow: rgba(255, 255, 255, 0.15), 0, 1px, 0, 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.15), 0, 1px, 0, 0;
    box-shadow: rgba(255, 255, 255, 0.15), 0, 1px, 0, 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#stats .graph_column {
    position: relative;
    display: table-cell
}

#stats .graph_column:hover {
    background: rgba(0, 0, 0, 0.2)
}

#stats .graph_column:hover .graph_bar {
    background: rgba(0, 226, 0, 0.5)
}

#stats .graph_bar {
    background: rgba(0, 226, 0, 0.4);
    border-top: 1px solid rgba(0, 226, 0, 0.3)
}

#stats .graph_bar.empty {
    visibility: hidden
}

#progress {
    opacity: 0;
    padding: 0 20px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    height: 50px;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s
}

#progress.started {
    opacity: 1
}

#progress.started #progress_watcher {
    height: 40px;
    opacity: 1
}

#progress.started #progress_bar {
    -webkit-transition-property: background-color, width, border-color;
    -moz-transition-property: background-color, width, border-color;
    -ms-transition-property: background-color, width, border-color;
    -o-transition-property: background-color, width, border-color;
    transition-property: background-color, width, border-color
}

#progress.started.requested #progress_bar {
    width: 206.4px;
    -webkit-transition-duration: 5s;
    -moz-transition-duration: 5s;
    -ms-transition-duration: 5s;
    -o-transition-duration: 5s;
    transition-duration: 5s
}

#progress.started.requested.errored #progress_watcher, #progress.started.requested.finished #progress_watcher {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s
}

#progress.started.requested.errored #progress_bar, #progress.started.requested.finished #progress_bar {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

#progress.started.requested.errored.hidden #progress_watcher, #progress.started.requested.finished.hidden #progress_watcher {
    opacity: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0
}

#progress.started.requested.errored #progress_bar {
    width: 10px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 15, color-stop(13.333%, #db7f00), color-stop(20%, #ff1a1a), color-stop(100%, #800000));
    background-image: -webkit-linear-gradient(#db7f00 2px, #ff1a1a 3px, #800000 15px);
    background-image: -moz-linear-gradient(#db7f00 2px, #ff1a1a 3px, #800000 15px);
    background-image: -o-linear-gradient(#db7f00 2px, #ff1a1a 3px, #800000 15px);
    background-image: -ms-linear-gradient(#db7f00 2px, #ff1a1a 3px, #800000 15px);
    background-image: linear-gradient(#db7f00 2px, #ff1a1a 3px, #800000 15px)
}

#progress.started.requested.finished #progress_bar {
    width: 258px;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 15, color-stop(13.333%, #9cd99a), color-stop(20%, #3f9e3c), color-stop(100%, #296727));
    background-image: -webkit-linear-gradient(#9cd99a 2px, #3f9e3c 3px, #296727 15px);
    background-image: -moz-linear-gradient(#9cd99a 2px, #3f9e3c 3px, #296727 15px);
    background-image: -o-linear-gradient(#9cd99a 2px, #3f9e3c 3px, #296727 15px);
    background-image: -ms-linear-gradient(#9cd99a 2px, #3f9e3c 3px, #296727 15px);
    background-image: linear-gradient(#9cd99a 2px, #3f9e3c 3px, #296727 15px)
}

#progress_watcher {
    height: 0px;
    overflow: hidden;
    opacity: 0;
    position: relative;
    width: 260px;
    -webkit-transition-property: opacity height;
    -moz-transition-property: opacity height;
    -ms-transition-property: opacity height;
    -o-transition-property: opacity height;
    transition-property: opacity height;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s
}

#progress_label {
    color: #9d7c41;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    line-height: 20px;
    position: relative;
    top: 20px
}


#progress_bar_shell {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 5px
}

#progress_bar {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 15, color-stop(13.333%, #c8b472), color-stop(20%, #af8a48), color-stop(100%, #67512b));
    background-image: -webkit-linear-gradient(#c8b472 2px, #af8a48 3px, #67512b 15px);
    background-image: -moz-linear-gradient(#c8b472 2px, #af8a48 3px, #67512b 15px);
    background-image: -o-linear-gradient(#c8b472 2px, #af8a48 3px, #67512b 15px);
    background-image: -ms-linear-gradient(#c8b472 2px, #af8a48 3px, #67512b 15px);
    background-image: linear-gradient(#c8b472 2px, #af8a48 3px, #67512b 15px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #d6c897;
    border-bottom-color: #74632d;
    border-right-color: #74632d;
    height: 8px;
    position: absolute;
    top: 5px;
    width: 10px
}

#progress_bar_bg {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 15, color-stop(13.333%, #260b05), color-stop(20%, #3d1208), color-stop(100%, #9d7c41));
    background-image: -webkit-linear-gradient(#260b05 2px, #3d1208 3px, #9d7c41 15px);
    background-image: -moz-linear-gradient(#260b05 2px, #3d1208 3px, #9d7c41 15px);
    background-image: -o-linear-gradient(#260b05 2px, #3d1208 3px, #9d7c41 15px);
    background-image: -ms-linear-gradient(#260b05 2px, #3d1208 3px, #9d7c41 15px);
    background-image: linear-gradient(#260b05 2px, #3d1208 3px, #9d7c41 15px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #5b5038;
    border-left-color: #000;
    border-top-color: #000;
    height: 8px;
    left: 0;
    right: 0;
    position: absolute;
    -webkit-box-shadow: #260b05, 1px, 1px, 0;
    -moz-box-shadow: #260b05, 1px, 1px, 0;
    box-shadow: #260b05, 1px, 1px, 0;
    top: 5px
}

.super_select {
    opacity: 0;
    margin-top: 0;
    font-size: 16px
}

.super_select_button {
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.15);
    color: #c8b472;
    cursor: default;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.super_select_button:not(.disabled):hover, .super_select_button:not(.disabled).hover {
    background: url(/images/buttons.png) repeat-x 0 0;
    background-color: #9d7c41;
    border-color: #775826;
    border-top-color: #b18339;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    box-shadow: rgba(0, 0, 0, 0.75), 0px, 0px, 3px;
    color: #ddb168;
    background-position: 0 -50px
}

.super_select_button:not(.disabled):active {
    background-color: #ba9657;
    border-color: #d59c40;
    border-top-color: #deb26a;
    color: #f8e5c1;
    background-position: 0 -100px
}

.super_select_button.disabled {
    opacity: 0.8
}

.super_select_button.no_rounded_right {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    -ms-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px
}

.super_select_button.no_rounded_left {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px
}